<html>
    <head>
    </head>
    <body>
        <h1>{{name}}</h1>
        {% if picture_url %}
            <img src="{{ picture_url }}" height="400" width="400" alt="Image of {{ name }}" />
        {% endif %}
        <h3>Ingredients:</h3>
        <ul>
            {% for ingredient in ingredients %}
                <li>{{ ingredient.name }} {{ ingredient.measurement }}oz</li>
            {% endfor %}
        </ul>
        <h4>Instructions:</h4>
        <p style="text-indent: 10px">
            {{ directions }}
        </p>
    </body>
</html>
